.list-item-container {
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 5px;
  font-size: 14px;
}

.list-item-container img {
  margin-right: 5px;
  padding: 1px;
  width: 24px;
  height: 24px;
}

.list-item-img-box {
  position: relative;
}

.list-item-fix-dot {
  position: absolute;

  top: -2px;
  right: 0px;

  width: 10px;
  height: 10px;
  margin: 0;

  border: 3px solid #888;
  border-radius: 6px;
  box-shadow: 0 0 0px 1px #fff;

  background-color: #3ffa7b;
}

.list-item-fix-dot-hidden {
  display: none;
}

.list-item-container > .ext-name {
  flex-grow: 1;

  margin-left: 2px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item-container > .li-operation {
  white-space: nowrap;
  margin-left: 3px;
}

.list-item-container .li-operation {
  display: flex;
  align-items: center;
}

.list-item-container .switch {
  margin-right: 2px;
  position: relative;
  bottom: 1px;
}

.list-item-container.not-enable {
  color: #888888;
  background-color: #cccccc33;
}

.list-item-container.is-enable {
  border-bottom: 1px solid #cccccc33;
}
