@import url(../../utils/reset.css);

body {
  width: 420px;
  height: 600px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ant-dropdown-menu-title-content {
  display: inline-block;
  max-width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#app-container {
  height: 100%;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

#app-container::-webkit-scrollbar {
  display: none;
}
