.option-container {
  display: flex;
}

.option-nav {
  margin-right: 20px;
}

.option-content {
  flex: 1;
}

.option-content-visible {
  display: block;
}

.option-content-hidden {
  display: none;
}
